<dialog class="citation-modal" id="citation-modal">
	<button type="button" class="close-modal" id="close-modal">🞬</button>
	
	<p>Cite the Empirical Standards</p>

	<select class="citation-formats" id="citation-formats">
		<option value="acm">ACM</option>
		<option value="apa">APA</option>
		<option value="bibtex">BibTeX</option>
		<option value="ieee">IEEE</option>
		<option value="ris">RIS</option>
	</select>

	<textarea class="citation-text" id="citation-text">Paul Ralph et al. 2020. Empirical Standards for Software Engineering Research. arXiv:2010.03525. Retrieved from https://arxiv.org/abs/2010</textarea>

	<button type="button" class="copy-citation" id="copy-citation">Copy citation</button>
</dialog>
