.IMRaDhr {
  border-top: 20px solid white;
}
form{
	font-size: 120%;
}
form:active {
  color: blue;
}

#location_type {
	border: none;
	border-radius: 4px;
	padding: 5px;
	margin-left: 5px;
	width: 94%;
	font-weight: bold;
}

.item_location_textbox, .justification_location_textbox {
	border: 2px solid #bbbbbb;
	border-radius: 4px;
	padding: 3px;
	margin-left: 5px;
	margin-right: 50px;
	width: 90%;
}

.item_location_textbox:invalid, .justification_location_textbox:invalid {
	border: 2px solid red;
}

.unjustified_warning {
	color: red;
	font-size: 90%;
	padding-left: 65px;
}

.error_warning {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (min-width: 401px) and (max-width: 785px)
{
	#container
	{
		width: 100%;
		position: static;
		top: auto;
		left: auto;
		padding: 30px 20px;
		margin: 0;
	}
}

.standardHeaderRule {width: 100%; height: 10px; border-bottom: 1px solid black; text-align: left; margin-top: 5px; margin-bottom: 15px;}
.standardHeaderText {font-size: 100%; color: grey; background-color: #f4f4f4; padding-right: 5px;}
.btn-link {border:none; outline:none; background:none; cursor:pointer; color:#0000EE; padding:0; text-decoration:underline; font-family:inherit; font-size:inherit;
}
