form {
	font-size: 120%;
}
form:active {
	color: blue;
}

.checklist_heading {
	padding: 0px;
	margin: 0px;
	text-indent: -0.3em;
}

#Essential, #Desirable, #Extraordinary {
	padding: 0px;
}

.item_list {
	list-style-type: none;
	list-style-position: inside;
}

.author_items {
	text-indent: 2em hanging;
	margin-left: 0;
}

.reviewer_essential_items {
	padding-left: 1.2em;
	text-indent: -2.4em;
}

.reviewer_nonessential_items {
	padding-left: 0em;
	text-indent: -1.3em;
}

.checklist_labels {
	font-size: 80%;
	font-weight: bold;
}

.author_labels {
	display: flex;
}

.attribute_label, .item_text {
	flex: 0 1 50vw;
}

.author_list_item {
	display: flex;
	align-items: flex-start;
	flex-flow: wrap;
}

#location_type {
	border: none;
	border-radius: 4px;
	padding: 5px;
	margin-left: 5px;
	width: 94%;
	font-weight: bold;
}

.location_container {
	flex: 0 1 20%;
	margin-right: 10px;
}

.item_location_textbox, .justification_location_textbox {
	border: 2px solid #bbbbbb;
	border-radius: 4px;
	padding: 3px;
	margin-left: 5px;
	margin-right: 50px;
	width: 90%;
}

.item_location_textbox:invalid, .justification_location_textbox:invalid {
	border: 2px solid red;
}

.author_yes_no_block {
	flex: 0 0 100%;
	display: none;
}

.reviewer_yes_no_block {
	padding-left: 2.4em;
	display: none;
}

.type_block {
	text-indent: -1.1em;
	display: none;
}

.question_text_container {
	flex: 0 1 50vw;
	text-indent: 2.4em;
}

.freeTextAnswer {
	width: 500px;
	height: 70px;
}

.freeTextContainer {
	padding-left: 2.5em;
	overflow: auto;
}

.question_block_free_Text {
	padding: 0px;
	display: none;
}

.unjustified_warning {
	font-size: 90%;
	padding-left: 65px;
}

.hide_display {
	display: none;
}

.show_display {
	display: block;
}

.message_style_1 {
	padding-left: 0.65em;
	text-indent: -1em;
}

.message_style_2 {
	padding-left: 2.80em;
	text-indent: -1.07em;
}

.message_style_3 {
	padding-left: 0em;
	text-indent: 0em;
}

.message_style_4 {
	padding-left: 2em;
	text-indent: 0em;
}

.error_warning {
	margin-top: 10px;
	margin-bottom: 10px;
}

.attention {
	color: red;
}

.standard_links {
	font-size: 23px;
}

#clear_checklist {
	border: none;
	color: red;
	background: none;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
}

#clear_checklist:hover {
	color: darkred;
	text-decoration: underline;
}

@media screen and (min-width: 401px) and (max-width: 785px) {
	#container {
		width: 100%;
		position: static;
		top: auto;
		left: auto;
		padding: 30px 20px;
		margin: 0;
	}
}

.standardHeaderRule {
	width: 100%;
	height: 10px;
	border-bottom: 1px solid black;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 15px;
}

.standardHeaderText {
	font-size: 100%;
	color: grey;
	background-color: #f4f4f4;
	padding-right: 5px;
}

.btn-link {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	color: #0000EE;
	padding: 0;
	text-decoration: underline;
	font-family: inherit;
	font-size: inherit;
}
