html {
	box-sizing: border-box;
}

body {
    max-width: 800px;
	display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 25px;
	background: #f4f4f4;
}
ul{
	padding-left: 20px;
}
form{
	font-size: 120%;
}
@media screen and (min-width: 401px) and (max-width: 785px)
{
	#container
	{
		width: 100%;
		position: static;
		top: auto;
		left: auto;
		padding: 30px 20px;
		margin: 0;
	}
}

.standardHeaderRule {width: 100%; height: 10px; border-bottom: 1px solid black; text-align: left; margin-top: 5px; margin-bottom: 15px;}
.standardHeaderText {font-size: 100%; color: grey; background-color: #f4f4f4; padding-right: 5px;}