main .wrapper {
	width: 71%;
}

@media screen and (max-width: 1300px) {
	main .wrapper {
		width: 72%;
	}
}

@media screen and (max-width: 1150px) {
	main .wrapper {
		width: 73%;
	}
}

@media screen and (max-width: 1000px) {
	main .wrapper {
		width: 74%;
	}
}

@media screen and (max-width: 910px) {
	main .wrapper {
		width: 75%;
	}
}

@media screen and (max-width: 850px) {
	main .wrapper {
		width: 78%;
	}
}

@media screen and (max-width: 785px) {
	main .wrapper {
		width: 85%;
	}
}

@media screen and (max-width: 630px) {
	main .wrapper {
		width: 87%;
	}
}

@media screen and (max-width: 600px) {
	main .wrapper {
		width: 90%;
	}
	#location_type {
		width: 100%
	}
}

@media screen and (max-width: 550px) {
	main .wrapper {
		min-width: 95%;
	}
}

@media screen and (max-width: 500px) {
	main .wrapper {
		min-width: 100%;
	}
}