.tooltip {
  display: inline;
  position: relative;
  border-bottom: 2px dotted #ccc;
  margin-left: 5px;
}

.tooltip .tooltip_text {
  font-size: 80%; 
  position: absolute;
  visibility: hidden;
  width: 350px;
  max-width: 350px;
  word-break: break-word;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  padding-right: 8px;
  padding-left: 8px;
  text-indent: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
}

.tooltip .tooltip_text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 41%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

.justification_tooltip {
  	border-bottom: none;
}

.justification_tooltip:before {
    content: '?';
    display: inline-block;
    font-weight: bold;
    text-align: center;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
	background-color: #dedee4;
}

.justification_tooltip .tooltip_text {
	margin-bottom: 10px;
	left: 0;
	margin-left: -135px;
}
