.tooltip {
  display: inline;
  position: relative;
  border-bottom: 2px dotted #ccc;
}

.tooltip .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 350px;
  max-width: 350px;
  word-break: break-word;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  padding-right: 8px;
  padding-left: 8px;
  text-indent: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 41%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

